.header {
  .navbar {
    height: var(--header-height);
    opacity: 0.95;
    .navbar-brand {
      font-size: 28px;
      font-weight: 700;
    }
    .navbar-nav {
      a {
        font-size: 15px;
        font-weight: 500;
        color: var(--black);
      }
    }
  }
}

.navbar-light {
  .navbar-nav .nav-link {
    padding: 26px 15px;
    &.active {
      background-color: var(--black);
      color: $white;
    }
  }

  .navbar-toggler {
    border: none;
    z-index: 10;
  }
}
@media (max-width: 768px) {
  .navbar-collapse {
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100%;
    background-color: #fff;
    padding: 70px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    right: 0;
    transition: right 400ms ease-in-out;
    a {
      text-align: center;
      &.active {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }

  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
  .navbar-collapse.collapsing {
    height: 100%;
    right: -75%;
    transition: height 0s ease;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 400ms ease-in;
  }

  .navbar-nav li {
    padding-bottom: 15px;
  }
}
